:root{
    --title-text-color: #212121;
    --additional-text-color:#757575;
    --accent-color:#2196F3;
    --secondary-color:#FFFFFF;
}
*{
    margin: 0; 
}
body {
    font-family:'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.logo {
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height:1.2;
}
.logo span {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 26px;
    line-height:1.4;
}
.site-nav .link {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.site-nav .link:hover ,
.site-nav .link:focus {
    color: var(--accent-color);
}
.info-nav .link {
    color: var(--additional-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height :1.1;
    letter-spacing: 0.02em;
}
.info-nav .link:hover,
.info-nav .link:focus {
    color: var(--accent-color);
}
.hero {
    background:#2F303A;
    text-align: center;
}
.hero-title {
    color:var(--secondary-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.hero button {
    background-color: var(--accent-color);
    color:var(--secondary-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    letter-spacing: 0.06em;
    border-style: none;
    cursor: pointer;
}
.hidden {
    display: none;
}
.section .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.section .segment {
    color: var(--additional-text-color);
    font-size: 14px;
    line-height:1.7;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.section-team .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,2px;
}
.section-team .segment {
    color: var(--additional-text-color);
    font-size: 16px;
    line-height:1.2;
}
.section-team .member {
    width: 270px;
    background: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    text-align: center;
}
.section-team {
    background: #F5F4FA;;
}
.footer{
    background: #2F303A;
}
.footer-logo {
    color:var(--secondary-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.footer-logo span {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 26px;
    line-height:1.4;
}
.footer-info .adress {
    color: var(--secondary-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7px;
}
.footer-info .link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7px;
}
.list li,a {
    list-style-type: none;
    text-decoration: none;
}
.button-nav button:hover,
.button-nav button:focus {
    background: var(--accent-color);
    color:var(--secondary-color);
}
.button-nav {
    text-align: center;
    line-height:1.6;
}
.button-nav button{
    border-style: none;
    background: #F5F4FA;
    border-radius: 4px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.section-project .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-project .segment {
    color: var(--additional-text-color);
    font-size: 16px;
    line-height: 1.9;
}
.section-project .project {
    width: 370px;
    background:var(--secondary-color);
    border: 1px solid #EEEEEE;
}